footer {
  display: block;
  background: #98989b;
  color: #080808;
  height: 100px;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

footer p {
  padding-top: 40px;
  margin-bottom: 0;
}
